@{
    ViewData["Title"] = "Главная";
}

<div class="home-wrapper">
    <h1>Погодные условия в Москве</h1>
    <div class="home-links-wrapper">
        <a class="home-link" asp-controller="Weather" asp-action="Index">Просмотр архивов</a>
        <a class="home-link" asp-controller="Weather" asp-action="Import">Загрузка архивов</a>
    </div>
</div>