
@model DynamicSun.Views.Weather.Import

@{
    ViewData["Title"] = "Загрузка архивов";
}

<div class="import-wrapper">
    <form class="import-form" method="post" asp-controller="Weather" asp-action="Import" enctype="multipart/form-data">
        <label for="fileInput">Выберите файл(-ы) для загрузки</label>
        <input type="file" multiple name="files" id="fileInput" />
        <button class="btn submit-btn" type="submit" name="Upload">Загрузить</button>
    </form>
</div>
